<!doctype html>
<html lang="en" ng-app="application">

<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1'/>
    <title>Orb</title>
    <link href="css/app.css" rel="stylesheet"/>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-touch.js"></script>
    <script src="js/application.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body>

<div ng-controller="feedListCtrl">
    
    <div class="header_container">
        <div class="header">

            <form ng-submit="addFeed()">
                <input type="text" ng-model="feedLink" placeholder="enter feed link here" style="width:95%;">
                <input type="submit" value="add" style="height:100%">
            </form>

            <p class="statusMessage">{{statusMessage}}</p>
        </div>
    </div>

    <div class="container">
        <ul>
            <li class="feed-item" ng-repeat="report in reports" ng-click="readTopItem(report.feedId, report.topItemId, report.topItemLink)">
                <p>{{report.feedTitle}}</p>
                <p>[ {{report.read}} / {{report.notRead}} ]</p>
            </li>
        </ul>
    </div>

</div>

</body>

</html>
