/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

body, html { 
    width: 100%;
    height: 100%;
    background: rgb(240, 240, 231);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.block-link {
    color: black;
    text-decoration: none;
}

.header-container {
	left: 0; 
	position: fixed; 
	width: 100%; 
	top: 0;
}

.header {
	margin: 0.4em;
    margin-top: 0em;
	padding: 0.3em;
	text-align: center;
    background: rgb(220, 220, 211);
}

.statusMessage {
	padding-top: 0.3em;
	font-size: 75%;
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

/* Needs to solve with this prefixes */

.tile {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-box-align: stretch;
    
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: justify;
    -moz-box-align: stretch;
    
    display: -ms-flexbox;
    -ms-flex-orient: horizontal;
    -ms-flex-pack: justify;
    -ms-flex-align: stretch;

    display: box;
    box-orient: horizontal;
    box-pack: justify;
    box-align: stretch;

	margin: 0.4em;
	min-height: 2em;
	text-align: center;
    background: rgb(230, 230, 221);
}

.feed-title {
    display: inherit;

    padding: 0.1em;
    background: rgb(220, 220, 211);
}

.feed-action {
    display: inherit;
 
	width: 15%;
}	

.item-title {
    display: inherit;

    padding: 0.1em;
    background: rgb(220, 220, 211);
}

.align-pack-center {
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.shadow {
    -webkit-box-shadow:2px 2px 3px #aaaaaa;
    -moz-box-shadow:2px 2px 3px #aaaaaa;
    -ms-flex-shadow:2px 2px 3px #aaaaaa;
    -box-shadow:2px 2px 3px #aaaaaa;
}

.flex-box-one {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	-box-flex: 1;
}

.bold {
    font-weight: bold;
}

.small-font {
	font-size: 75%;
}

.touched {
    background: rgb(190, 190, 171);    
}
