<div class="header_container">
    <div class="header shadow">

        <form ng-submit="addFeed()">
            <input type="text" ng-model="feedLink" placeholder="enter feed link here" style="width:95%;">
            <input type="submit" value="add" style="height:100%">
        </form>

        <p class="statusMessage">{{statusMessage}}</p>
    </div>
</div>

<div class="container">
    <div class="tile shadow" ng-repeat="report in reports">

        <div class="feed-action align-pack-center">
            <img src="img/machine.png" width="32px" height="32px"/>
        </div>

        <div class="feed-title flex-box-one align-pack-center" ng-class="(touchedFeedId==report.feedId) ? 'touched' : ''" ng-click="readTopItem(report.feedId, report.topItemId, report.topItemLink)">
            <div>
                <p class="small-font bold">{{report.feedTitle}}</p>
                <p class="small-font">[ {{report.read}} / {{report.notRead}} ]</p>
            </div>    
        </div>

        <div class="feed-action align-pack-center" ng-click="viewItems(report.feedId)">
            <img src="img/list.png" width="32px" height="32px"/>
        </div>

    </div>
</div>
