<div class="header-container">
    <div class="header shadow">

        <form ng-submit="addFeed()">
            <input type="text" ng-model="feedLink" placeholder="enter feed link here" style="width:95%;">
            <input type="submit" value="add" style="height:100%">
        </form>

        <p class="statusMessage">{{statusMessage}}</p>
    </div>
</div>

<div class="container">
    <div class="tile shadow" ng-repeat="report in reports" ng-class="(touchedFeedId==report.feedId) ? 'touched' : ''" >

        <a href="#/feed/{{report.feedId}}" class="block-link feed-action align-pack-center">
            <img src="img/menu-icon.svg" width="32px" height="32px"/>
        </a>
        
        <a href="{{report.topItemLink}}" target="_blank" class="block-link feed-title flex-box-one align-pack-center" ng-click="markAsRead(report.feedId, report.topItemId)">
            <div>
                <p class="small-font bold">{{report.feedTitle}}</p>
                <p class="small-font">  [ {{report.read}} / {{report.notRead}} / {{report.addedFromLastVisit}} ]</p>
            </div>
        </a>
        
        <a href="#/items/{{report.feedId}}" class="block-link feed-action align-pack-center">
           <img src="img/list-icon.svg" width="32px" height="32px"/>
        </a>

    </div>
</div>
