<div class="header-container">
    <div class="feed-header-tile shadow">

        <div class="feed-header-back" ng-click="backToFeeds()"></div>

        <div class="feed-header-info" ng-click="markAllAsRead()">
            <div class="feed-header-title">
                <p>{{feedTitle}}</p>
            </div>

            <div class="feed-header-counters">
                <img src="img/speech-bubble-white-icon.svg" width="16px" height="16px"/>

                <div class="feed-header-counter"><p>{{read}}</p></div>
                <img src="img/speech-bubble-black-icon.svg" width="16px" height="16px"/>

                <div class="feed-header-counter"><p>{{notRead}}</p></div>
                <img src="img/time-icon.svg" width="16px" height="16px"/>

                <div class="feed-header-counter"><p>{{readLater}}</p></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="item-tile" ng-repeat="report in reports" ng-class="(report.read==true) ? '' : 'not-read'">

        <div class="item-date" ng-class="(report.read==true) ? '' : 'item-date-not-read'">
            <p>{{report.date | date:'d MMM HH:mm'}}</p>
        </div>

        <div class="item-block">
            <div class="item-action" ng-click="toggleReadLater(report.feedId, report.itemId)">
                <img ng-show="{{report.readLater}}" src="img/time-icon.svg" width="24px" height="24px"/>
                <img ng-show="{{!report.readLater}}" src="img/time-icon-light.svg" width="24px" height="24px"/>
            </div>

            <a href="{{report.link}}" target="_blank" class="item-text block-link"
               ng-class="(report.read==true) ? '' : 'item-text-not-read'"
               ng-click="markAsRead(report.feedId, report.itemId)">
                <p>{{report.title}}</p>
            </a>
        </div>
    </div>
</div>
