<div class="header_container">
    <div class="header">

		<p>{{feedTitle}}</p>
		<p class="statusMessage">{{statusMessage}}</p>

	</div>	
</div>	

<div class="container">
	<div class="tile" ng-repeat="report in reports">

    	<div class="feed-action">
        	<p class="small-font">{{report.day}}/{{report.month}}</p>
        	<p class="small-font">{{report.hour}}:{{report.minute}}</p>
    	</div>

    	<div class="item-title" ng-click="readItem(report.feedId, report.guid, report.link)">
        	<p class="small-font" ng-class="(report.read==true) ? '' : 'not-read-item'">{{report.title}}</p>
    	</div>
                    
	</div>
</div>
