<div class="header-container">
    <div class="header shadow">

        <p>{{feedTitle}}</p>
        <p class="statusMessage">{{statusMessage}}</p>

    </div>  
</div>

<div class="container">

    <div class="tile shadow">
    	
    	<div class="flex-box-one align-pack-center">
    		
    		<form ng-submit="updateFeedTitle()">
        		<input type="text" ng-model="newFeedTitle" style="width:95%;">
        		<input type="submit" value="update" style="height:100%">
    		</form>    

    	</div>

    </div>

</div>
