<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Oracle Corporation//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>feeds</servlet-name>
        <servlet-class>nmd.orb.http.servlets.FeedsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>feeds</servlet-name>
        <url-pattern>/@security.key@/v01/feeds/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>categories</servlet-name>
        <servlet-class>nmd.orb.http.servlets.CategoriesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>categories</servlet-name>
        <url-pattern>/@security.key@/v01/categories/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reads</servlet-name>
        <servlet-class>nmd.orb.http.servlets.ReadsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>reads</servlet-name>
        <url-pattern>/@security.key@/v01/reads/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updates</servlet-name>
        <servlet-class>nmd.orb.http.servlets.UpdatesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updates</servlet-name>
        <url-pattern>/@security.key@/v01/updates/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exports</servlet-name>
        <servlet-class>nmd.orb.http.servlets.ExportsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>exports</servlet-name>
        <url-pattern>/v01/feeds/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reset</servlet-name>
        <servlet-class>nmd.orb.http.servlets.ResetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>reset</servlet-name>
        <url-pattern>/@security.key@/v01/reset</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>backup</servlet-name>
        <servlet-class>nmd.orb.http.servlets.BackupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>backup</servlet-name>
        <url-pattern>/@security.key@/v01/backup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>importer</servlet-name>
        <servlet-class>nmd.orb.http.servlets.ImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>importer</servlet-name>
        <url-pattern>/@security.key@/v01/import/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>