<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Oracle Corporation//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>guestbook</servlet-name>
        <servlet-class>guestbook.GuestbookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>guestbook</servlet-name>
        <url-pattern>/guestbook</url-pattern>
    </servlet-mapping>
    <!--
        <servlet>
            <servlet-name>cron</servlet-name>
            <servlet-class>cron.CronServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>cron</servlet-name>
            <url-pattern>/cron</url-pattern>
        </servlet-mapping>
    -->
    <servlet>
        <servlet-name>updater</servlet-name>
        <servlet-class>nmd.rss.collector.updater.FeedUpdaterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updater</servlet-name>
        <url-pattern>/updater</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clear</servlet-name>
        <servlet-class>nmd.rss.collector.updater.ClearServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clear</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>