<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Oracle Corporation//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>feeds</servlet-name>
        <servlet-class>nmd.rss.collector.rest.FeedsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>feeds</servlet-name>
        <url-pattern>/@security.key@/v01/feeds/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updates</servlet-name>
        <servlet-class>nmd.rss.collector.rest.UpdatesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updates</servlet-name>
        <url-pattern>/@security.key@/v01/updates/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exports</servlet-name>
        <servlet-class>nmd.rss.collector.rest.ExportsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>exports</servlet-name>
        <url-pattern>/v01/feeds/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>